.bubbleviz{
	position: fixed;
	background-color: red;
	top:0px;
	left:0px;
	height:5px;
	width:100%;
	z-index: 10000;
}
.persanalysed-personal-result{
	border: 2px solid green;
}
.persanalysed-both-result{
	border: 2px solid orange;
}
.persanalysed-result-annotation{
	font-size:300%;
	font-weight:bold;
	color:orange;
}
